body {
    background: rgb(206, 62, 62);
}

h1 {
    color: greenyellow;
}

p {
    column-count: 3;
    column-gap: 40px;
    column-rule:2px solid red;
}

p:hover{
    color: white;
    background-color: black;
}